@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
   color: #222;
}

.hero {
    background-image: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt4b22345d697982c1/64e995dcb2ec2a4e9f11b74a/Cristiano_Ronaldo_Al-Nassr_2023-24_(2).jpg?auto=webp&format=pjpg&width=3840&quality=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;   
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;  
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}


.content h1,
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.expanding-cards {
    display: flex;
    width: 90vw;
    margin: 0 auto;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}


footer {
    width: 100%;
    height: 100%;
}
  
  
footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.8rem;
}
  
footer ul i {
    color: #717981;
    transition: 0.4 ease-in;
}
  
footer ul i:hover {
    color: #18bfef;
}

@media (max-width: 480px) {
    .expanding-cards {
        width: 100vw;
        display: inline;
    }

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
}

